body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f5e9; /* This is a soft, light green color */
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 10000px;
    margin: 0 auto;
    }
header {
        text-align: center;
        background: #4CAF50;
        color: white;
        padding: 40px 0;
        border-radius: 8px;
        margin-bottom: 20px;
    }
header p {
            max-width: 600px;
            margin:10px auto;
     }
h1, h2 {
        margin-bottom: 20px;
    }
.search-section {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    } 
.search-input {
        margin: 10px 0;
        padding: 10px;
        width: 80%;
        max-width: 600px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
.search-button {
        margin: 10px 0;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
                          